section {
    height: 1000px;
    width: 1000px;
}

.top { 
    margin-left: 300px;
}

.button-group {
    margin: 30px;
}

section div {
    height: 50px;
    width: 50px;
    background: rgba(231, 120, 120, 0.795);
    border: 10px;
    border-radius: 50%;
    border-color: black;
    float: left;
}

.alive {
    background: #00796B;
}

.button { 
    background-color: #00796B; 
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 12px;
    padding: 15px;
    cursor: pointer;
}

.button:hover { 
    background-color: rgba(231, 120, 120, 0.795);
}

.barContainer { 
    width: 500px;
    height: 100px;
    padding-top: 50px;
    margin-left: 250px;
}

#myProgress {
    width: 100%;
    height: 100px;
    background-color:#00796B;

}
#myBar {
    width: 1%;
    height: 60px;
    height: 100px;
    background-color: rgba(231, 120, 120, 0.795);
}